body {
  background: #202252;
}

.wrapper {
  width: 210px;
  height: 110px;
  text-align: center;
}

.easyTest-heading {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
}

.easyTest-heading img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.easyTest-title {
  color: #8CF2A1;
  margin: 0;
  font-size: 1rem;
}

.easyTest-subtext {
  color: #ffffff;
  font-size: 0.9rem;
}

.easyTest-button {
  padding: 5px;
  outline: none;
  border: 1px solid #8CF2A1;
  border-radius: 3px;
  background: #8CF2A1;
  cursor: pointer;
  color: #202252;
  text-align: center;
}

.easyTest-button:hover {
  background: #202252;
  color: #8CF2A1;
}

.easyTest-button:active {
  background-color: #202252;
  transform: translateY(1px) translateX(1px);
}
